<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electric Distribution Company Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
    <header>
        <h1>Electricity Distribution Company</h1>
    </header>

    <main>
        <section class="options">
            <a href="/bill-payment" class="button">Bill Payment</a>
            <a href="/bill-retrieval" class="button">Bill Retrieval</a>
            <a href="/bill-adjustments" class="button">Bill Adjustment</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024, CS340 - Databases, Lahore University of Management Sciences (LUMS). All rights reserved.</p>
    </footer>
    </div>

</body>
</html>